In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_anl=pd.read_csv('Dailystrat.csv')
data_anl

     TradeType    OpenDate   CloseDate  Profit
0         Sell  1672720200  1672721100   -0.29
1         Sell  1672722000  1672722900   -0.69
2         Sell  1672723800  1672724700   -0.13
3         Sell  1672725600  1672726500    0.65
4         Sell  1672727400  1672728300    1.43
...        ...         ...         ...     ...
4479      Sell  1703626200  1703627100   -0.76
4480      Sell  1703628000  1703628900   -0.18
4481      Sell  1703629800  1703630700   -1.64
4482      Sell  1703631600  1703632500    0.03
4483      Sell  1703633400  1703634300   -1.41

[4484 rows x 4 columns]

In [3]:
data_anl['m_open']=pd.to_datetime(data_anl['OpenDate'],unit='s')
data_anl['m_close']=pd.to_datetime(data_anl['CloseDate'],unit='s')
data_anl

,TradeType,OpenDate,CloseDate,Profit,m_open,m_close
0,Sell,1672720200,1672721100,-0.29,2023-01-03 04:30:00,2023-01-03 04:45:00
1,Sell,1672722000,1672722900,-0.69,2023-01-03 05:00:00,2023-01-03 05:15:00
2,Sell,1672723800,1672724700,-0.13,2023-01-03 05:30:00,2023-01-03 05:45:00
3,Sell,1672725600,1672726500,0.65,2023-01-03 06:00:00,2023-01-03 06:15:00
4,Sell,1672727400,1672728300,1.43,2023-01-03 06:30:00,2023-01-03 06:45:00
...,...,...,...,...,...,...
4479,Sell,1703626200,1703627100,-0.76,2023-12-26 21:30:00,2023-12-26 21:45:00
4480,Sell,1703628000,1703628900,-0.18,2023-12-26 22:00:00,2023-12-26 22:15:00
4481,Sell,1703629800,1703630700,-1.64,2023-12-26 22:30:00,2023-12-26 22:45:00
4482,Sell,1703631600,1703632500,0.03,2023-12-26 23:00:00,2023-12-26 23:15:00
4483,Sell,1703633400,1703634300,-1.41,2023-12-26 23:30:00,2023-12-26 23:45:00

In [34]:
data_anl['month']=data_anl['m_open'].dt.month
gdata=data_anl.groupby('month')
monthly_data_frames = {}

# Iterate over groups and store DataFrames in the dictionary
for month, group in gdata:
    monthly_data_frames[month] = group.copy()

# Access DataFrames for specific months

In [39]:
jdata = monthly_data_frames.get(1)
profit=jdata['Profit'].sum()
idm=jdata['Profit'].idxmax()
profmax=jdata.iloc[idm]

print(len(jdata))
print(profit)
profmax

508
53.50000000000023

TradeType                   Sell
OpenDate              1673538300
CloseDate             1673539200
Profit                      9.82
m_open       2023-01-12 15:45:00
m_close      2023-01-12 16:00:00
month                          1
Name: 226, dtype: object

In [40]:
jdata = monthly_data_frames.get(2)
profit=jdata['Profit'].sum()
idm=jdata['Profit'].idxmax()
print(idm)
# profmax=jdata.iloc[idm]

print(len(jdata))
print(profit)
# profmax

518
363
75.19000000000074

In [22]:
jdata = monthly_data_frames.get(3)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

483
-28.07999999999879

In [23]:
jdata = monthly_data_frames.get(4)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

433
8.980000000001837

In [24]:
jdata = monthly_data_frames.get(5)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

466
-10.46000000000095

In [25]:
jdata = monthly_data_frames.get(6)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

355
32.40000000000191

In [26]:
jdata = monthly_data_frames.get(7)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

367
24.4099999999994

In [27]:
jdata = monthly_data_frames.get(8)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

284
74.72000000000207

In [28]:
jdata = monthly_data_frames.get(9)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

202
-6.589999999998554

In [29]:
jdata = monthly_data_frames.get(10)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

415
25.139999999999418

In [30]:
jdata = monthly_data_frames.get(11)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

337
35.28000000000134

In [31]:
jdata = monthly_data_frames.get(12)
profit=jdata['Profit'].sum()
print(len(jdata))
print(profit)

271
-28.809999999999945